.movielink::marker {
  color: #2316d2ea;
  font-size: 1.5em;
}

.movielink {
  font-size: 25px;
}

.link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #2316d2ea;
}

.link:visited {
  color: #aa3714fd;
}

.link:hover {
  border-bottom: 1px solid;
  color: #120606e1;
}