nav {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 8px 0;
}

.link {
  padding: 8px 26px;
  border-radius: 4px;
  text-decoration: none;
  color: #2316d2ea;
  background-color: #fff;
  outline: 2px solid #2316d2ea;
  font-weight: 500;
  font-size: 18px;
}

.active {
  composes: link;
  background-color: #2316d2ea;
  color: #fff;
}